* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3e3e3;
  padding-top: 30px;
  font-family: 'Roboto', Tahoma, Verdana, sans-serif, system-ui, 'Helvetica Neue', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
